@CHARSET "ISO-8859-1";

body {
    font-family: Arial, Verdana;
	background-image: url("background.jpg");
    background-color: #CECECE;
    width: 100%;
}

#bloc_principal {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 800px;
	height: 100%;
	background-color: white ;	
}

.header {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background: url("../img/banniere_jeux.png"); 
}

#headerClickable {
	width: 50%;
}

#formConnexion {
	text-align:right;
	color:#c0c0c0;
	margin:10px;
	padding-top:110px;
	padding-left:215px;
}

.titreConnexion {
	background-color: black;
}

.client {
	text-align: right;
	padding-left:215px;	
	color:#c0c0c0;
	margin:10px;
}

#buttonConnexion {
	margin-right: 30px;
}

.lateral {
	text-align: center;
	margin: auto;
	float: left ;
	width: 20%;
	height: 100%;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #c0c0c0;
}

#lTitre {
	font-weight: bold;
	color: #800000;
}

.inRecherche {
	width: 80%;
}

.formLib {
	color:#c0c0c0;
	background-color: black;
}

.logo{
	width: 80%;
	display: block; 
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
}


.central {
	width : 78%;
	margin-top: 50px;
	margin-left: 40px;
	text-align: left;
}

.formulaireEnre {
	color: #391111;
	text-indent: 10px;
}

.inEnre{
	margin-left: 10px;
	width: 230px;
}

.colGauche {
	float: left;
	width: 40%
}

#numRue {
	width: 40px;
}

#rue {
	width: 230px; 
	margin-left: 10px;
}

#cp {
	float: right;
	width: 60px;
	margin-right: 65px;
}

#ville {
	width: 188px;
	margin-right: 10px;
}

.colDroite {
	float: right;	
	width: 40%;
}

.buttonInscription {
	position: relative;
	text-align: center;
}

#tabTitre {
	font-size: 14pt;
	font-weight: bold;
	color: #800000;
}

.titreCentral {
	font-size: 20pt;
	font-weight: bold;
	color: #400080;
}

.imageTab {
	width=150px;
}
.vide{
	clear:both;
	float: bottom ;
}